$font20: calc(25px + 20 * (100vw / 1920));
$font20X: calc(10px + 20 * (100vw / 1920));
$width: calc(300px + 150 * (100vw / 1920));
$font20headerpin: calc(10px + 10 * (100vw / 1920));
$font20btncomplain: calc(10px + 5 * (100vw / 1920));
